header {
    border-radius: 5px;
    background: #DDD;
    padding: 5px 10px;
    text-align: center;
}
header a {
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;

}
header a:hover {
    background: #AAA;
}

main > section {
    display: none;
    padding: 20px 5px;
}
section h1{
    margin: 10px 0;
    font-size: 1.2em;
}

#loadingBox #errorBox #infoBox {
    border-radius: 5px;
    padding: 5px 10px;
    width: 80%;
    text-align: center;
    margin: 20px auto;
}
#loadingBox{
    background-color: aquamarine;
}
#infoBox {
    background-color: green;
}
#errorBox{
    background-color: red;
}
#menu {
    background: #DDD;
    text-align: center;
    padding: 5px;
    line-height: 1.5;
    border-radius: 5px;
}
#menu a{
    display:none;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}
#menu a:hover{
    background: #BBB;
}
#commentsTableRow {
    background-color: white;
}
table {
    margin: auto;
    background: #d1ff62;
    
}

table th, table td {
    padding: 5px 10px;
}
.commentRow {
    display: none;
    color: white;
}
